@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

.mainBlock {
  width: 252px;
  height: 490px;
  display: flex;
  flex-direction: column;
  background: #262645;
  padding: 0;

}

.title {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 30px;
  text-align: center;

  color: #FFFFFF;
  padding-top: 8px;
  padding-bottom: 13px;
}

.datePlace {

  height: 94px;
  background: #1C1C35;
  display: flex;
  flex-direction: row;

  .date {
    display: flex;
    flex-direction: column;

    .number {
      margin-top: 3px;
      margin-left: 16px;
      margin-bottom: 5px;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 31px;
      line-height: 38px;

      color: #878B71;
    }

    .place {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 16.1039px;
      line-height: 15px;

      margin-left: 12px;
      text-align: center;
      height: 39px;
      width: 117px;

      color: #000000;
      background: #D9D9D9;
    }

  }

  .time {

    span {

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 42.6186px;
      position: relative;
      top: 17px;

      color: #FFFFFF;
      margin-left: 12.5px;
      padding-top: 50px;
    }

    hr {
      height: 8px;
      background: #D9D9D9;
      margin-top: 25px;
    }
  }
}

.buy {
  height: 53px;
  background: #690714;

  p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 23.3469px;
    line-height: 28px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    color: #FFFFFF;
  }
}