$strip-height: 40px;

$date-width: 33px;
$date-margin: 18px;

$ndate-width: 50px;
$ndate-height: 60px;

$moon-size: 65px;

$reg-font-size: 30px;
$sel-font-size: 40px;
$wk-font-size: 20px;

.datesStrip {
  width: 100%;
  height: $strip-height;
  background: #690714;

  display: flex;
  flex-direction: row;

  align-items: center;
  place-content: center;

  margin-bottom: 80px;
}

.dateBtnContainer {
  height: $strip-height;
  width: $date-width;
  margin-left: $date-margin;
  margin-right: $date-margin;

  img {
    position: absolute;
    z-index: 2;

    height: $moon-size;
    width: $moon-size;
    margin-top: calc(0px - ($moon-size - $strip-height) / 2);
    margin-left: calc(2px - ($moon-size - $date-width) / 2);
  }
}

.dateContainer {
  position: absolute;
  z-index: 1;

  width: $date-width;
  height: $strip-height;
  background: #690714;

  transition: width 0.1s, height 0.1s, margin-top 0.1s, margin-left 0.1s,
    box-shadow 0.1s;
}

.dateContainerHover:hover {
  @extend .dateContainerSelected;

  box-shadow: 0px 0px 10px black;
}

.dateContainerSelected {
  position: absolute;
  z-index: 2;

  width: $ndate-width;
  height: $ndate-height;
  margin-top: calc(0px - ($ndate-height - $strip-height) / 2);
  margin-left: calc(0px - ($ndate-width - $date-width) / 2);
}

.dateNum {
  width: $date-width;
  height: $strip-height;
  font-size: $reg-font-size;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;

  transition: font-size 0.1s, width 0.1s, height 0.1s;
}

.dateContainer > .dateNum {
  color: #96947c;
}

.dateContainerHover > .dateNum,
.dateContainerSelected > .dateNum {
  color: white;
}

.dateContainer,
.dateContainerSelected {
  cursor: pointer;
}

.dateContainerHover:hover > .dateNum,
.dateContainerSelected > .dateNum {
  font-size: $sel-font-size;
  width: $ndate-width;
  height: $ndate-height;
}

.weekDay {
  margin-top: 5px;

  font-family: "Montserrat";
  font-size: $wk-font-size;
  color: white;
  text-align: center;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  place-content: center;
}

.curLeft {
  position: absolute;
  left: 0;
  top: 950px;
}
.curRight {
  position: absolute;
  right: 0;
  top: 950px;
}

.rarr,
.larr {
  height: 25px;
  cursor: pointer;
}

$arr-margin: 15px;

.rarr {
  margin-left: $arr-margin;
}

.larr {
  margin-right: $arr-margin;
}
