.header_top {
  width: 100%;
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: black;

  background-image: url("./gerasimov.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.phone_blind {
  margin-left: 50px;
  margin-top: 20px;

  display: flex;
  flex-direction: column;

  .phone {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    text-decoration: none;

    margin-bottom: 40px;

    color: #ececec;
  }
  .blind {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;

    color: #ececec;
  }
}