.header {
  height: 85px;
  max-width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-right: 165px;
  margin-left: 165px;
  margin-top: 71px;

  .title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 59px;
    line-height: 66px;

    text-transform: uppercase;

    color: white;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .btn {
    height: 50px;
    border: 1px solid white;
    border-radius: 25px;

    padding-left: 50px;
    padding-right: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 22px;

      color: white;
    }
  }
}

.newsContent {
  height: 600px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;

  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));

  gap: 20px;

  .bigNews {
    @extend .newsBase;

    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;

    padding-bottom: 15px;

    display: flex;
    flex-direction: column;

    height: 600px;

    img {
      @extend .cover;

      aspect-ratio: 610/392;
    }

    .title {
      @extend .titleBase;

      font-size: 20px;
      padding-left: 50px;
      padding-right: 50px;
    }

    .date {
      @extend .dateBase;

      padding-left: 50px;
      padding-right: 50px;
    }

    .text {
      padding-left: 50px;
      padding-right: 50px;

      margin-top: 22px;

      color: white;
      font-family: "Montserrat";
      font-size: 16px;

      line-height: 24px;

      flex: 1;

      overflow: hidden;
    }
  }

  .smallNews {
    @extend .newsBase;

    img {
      @extend .cover;

      aspect-ratio: 295/182;
    }

    .title {
      @extend .titleBase;

      font-size: 16px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .date {
      @extend .dateBase;

      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.newsBase {
  background: #262645;
}

.titleBase {
  text-transform: uppercase;
  color: white;
  font-family: "Montserrat";
  font-weight: 600;

  margin-top: 10px;
}

.dateBase {
  font-family: "Montserrat";
  font-size: 14px;
  margin-top: 15px;
  color: #929fcc;
}

.cover {
  width: 100%;
  object-fit: cover;
}
