.wrapper {
  padding-left: 12.5vw;
  padding-right: 13vw;
  justify-content: center;
  align-items: center;
}

.header {
  height: 85px;
  max-width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 71px;

  .title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 59px;
    line-height: 66px;

    text-transform: uppercase;

    color: white;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .btn {
    width: 165px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #484B68;

    p {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: bold;
      font-size: 19px;
      line-height: 45px;

      color: #F1F1F1;
    }

  }
}

.newsContent {
  height: 600px;
  margin-top: 50px;

  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));

  gap: 20px;

  .bigNews {
    border: 1px solid #6F7081;

    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;

    padding-bottom: 15px;

    display: flex;
    flex-direction: column;

    height: 600px;

    img {
      @extend .cover;

      aspect-ratio: 610/392;
    }

    .title {
      @extend .titleBase;

      font-size: 20px;
      padding-left: 50px;
      padding-right: 50px;
    }

    .date {
      @extend .dateBase;

      padding-left: 50px;
      padding-right: 50px;
    }

    .text {
      padding-left: 50px;
      padding-right: 50px;

      margin-top: 22px;

      color: white;
      font-family: "Montserrat";
      font-size: 16px;

      line-height: 24px;

      flex: 1;

      overflow: hidden;
    }
  }

  .smallNews {
    border: 1px solid #6F7081;

    img {
      @extend .cover;

      aspect-ratio: 295/182;
    }

    .title {
      @extend .titleBase;

      font-size: 14px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .date {
      @extend .dateBase;

      font-size: 12px;

      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.titleBase {
  text-transform: uppercase;
  color: white;
  font-family: "Montserrat";
  font-weight: 600;

  margin-top: 10px;
}

.dateBase {
  font-family: "Montserrat";
  font-size: 14px;
  margin-top: 15px;
  color: #929fcc;
}

.cover {
  width: 100%;
  object-fit: cover;
}

.arrowsContainer {
  padding-left: 150px;
  padding-right: 150px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  cursor: pointer;
}