.header {
  height: 85px;
  max-width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-right: 165px;
  margin-left: 165px;
  margin-top: 71px;

  border-bottom: 2px solid #a3a3a3;

  .title {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 59px;
    line-height: 66px;

    text-transform: uppercase;

    color: #ffffff;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .btn {
    width: 152px;
    height: 35px;
    border: 1px solid #cdaf0d;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 22px;

      color: #e6c714;
    }
  }
}

.newsContent {
  max-width: 100%;
  flex-direction: row;
  display: flex;
  align-content: center;
  justify-content: center;

  margin-top: 40px;
  margin-right: 140px;
  margin-left: 140px;

  h3 {
    max-width: 100%;
  }

  .news {
    display: flex;
    flex-direction: column;
    margin-left: 100px;

    .news_item {
      margin-top: 25px;
      width: 400px;

      display: flex;
      flex-direction: column;

      .item_title {
        font-family: "Source Sans Pro", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 22.4776px;
        line-height: 28px;

        color: #fffdf2;
      }

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 12.7373px;
        line-height: 200%;

        color: rgba(244, 244, 244, 0.5);
      }

      .newsDate {
        font-size: 17px;
      }
    }
  }
}

.newslink {
  color: rgba(255, 255, 255, 0.8);
}

.newslink:hover {
  color: rgba(255, 255, 255, 1);
}