* {
  margin: 0;
  padding: 0;
}
main {
  background: #111129;
  height: 100%;
}
footer {
  background-color: #262645;
  height: 100%;
}
hr {
  height: 3px;
  max-width: 100%;

  border: none;
  background-color: #515169;
}
