* {
  margin: 0;
  padding: 0;
}

main {
  background: #15141E;
  height: 100%;
}

footer {
  background-color: #101017;
  height: 100%;
}

.divider {
  background: url("../public/img/divider.png");
  height: 10px;
  max-width: 100%;

  border: none;
}

hr {
  height: 3px;
  max-width: 100%;

  border: none;
  background-color: #2a2a38;
}