.cult_moscov {
  margin-left: 181px;
  display: flex;
  flex-direction: row;
}
.cult_moscov p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-left: 16px;
}

.phone_blind {
  margin-right: 181px;
  display: flex;
  flex-direction: column;
}
.phone_blind .phone {
  font-family: "Mohave";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 35px;
  text-decoration: none;
  color: #ECECEC;
}
.phone_blind .blind {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #ECECEC;
}

nav {
  width: 100%;
  height: 65px;
  background-color: #262645;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-transform: lowercase;
  color: #F4F4F4;
}
nav .rightMenu {
  margin-right: 180px;
  align-items: center;
}
nav .rightMenu .menuItemR {
  margin-left: 22px;
}
nav .leftMenu {
  margin-left: 180px;
  align-items: center;
}
nav .leftMenu .menuItemL {
  margin-right: 22px;
}
nav .logo {
  position: relative;
  width: 252.63px;
  height: 254px;
  bottom: 80px;
  background: url("/../public/img/back-logo.png") no-repeat -5px -2px, url("/../public/img/back_elipse.png") no-repeat 60px 10px;
}
nav .logo .test {
  width: 47%;
  height: 47%;
  position: relative;
  top: 11px;
  left: 65px;
}
nav .logo .test:hover {
  animation: swing 1s infinite ease-in-out;
}
@keyframes swing {
  0%, 100% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
}
nav .logo .text_logo {
  position: relative;
  bottom: 5%;
  right: 130px;
  width: 128px;
  height: 90px;
}

@media (max-width: 1400px) {
  nav {
    width: 100%;
    height: 65px;
    background-color: #262645;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  nav ul {
    display: flex;
    list-style: none;
  }
  nav ul a {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: lowercase;
    color: #F4F4F4;
  }
  nav .rightMenu {
    margin-right: 180px;
    align-items: center;
  }
  nav .rightMenu .menuItemR {
    margin-left: 22px;
  }
  nav .leftMenu {
    margin-left: 180px;
    align-items: center;
  }
  nav .leftMenu .menuItemL {
    margin-right: 22px;
  }
  nav .logo {
    position: relative;
    width: 252.63px;
    height: 254px;
    bottom: 80px;
    background: url("/../public/img/back-logo.png") no-repeat -5px -2px, url("/../public/img/back_elipse.png") no-repeat 60px 10px;
  }
  nav .logo .test {
    width: 40%;
    height: 40%;
    position: relative;
    top: 11px;
    left: 65px;
  }
  nav .logo .test:hover {
    animation: swing 1s infinite ease-in-out;
  }
  @keyframes swing {
    0%, 100% {
      transform: rotate(-30deg);
    }
    50% {
      transform: rotate(30deg);
    }
  }
  nav .logo .text_logo {
    position: relative;
    bottom: 5%;
    right: 35%;
    width: 110px;
    height: 70px;
  }
}

/*# sourceMappingURL=nav.module.css.map */
