@import url("https://fonts.googleapis.com/css2?family=Mohave&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.slide {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.swiper {
  height: 2px;
  max-width: 100%;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: relative;
  width: 1108px;
  height: 188px;
  left: 169px;
  top: 350px;
  .block1 {
    margin-left: 50px;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;

    .author {
      font-family: "Source Sans Pro", sans-serif;
      font-style: italic;
      font-weight: 400;
      font-size: 40.3472px;
      line-height: 51px;

      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

      color: #ffffff;
    }
    .title {
      font-family: "Mohave", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 62px;
      line-height: 86px;
      letter-spacing: 0.09em;
      text-transform: uppercase;

      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

      color: #ffffff;
    }
    .premiere {
      width: 153px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;

      background-color: #262645;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
      a {
        color: #cccccc;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;

        text-transform: uppercase;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
  .block2 {
    position: absolute;
    margin-left: 116vh;
    justify-content: center;
    display: flex;
    flex-direction: column;

    height: 188px;
    width: 150px;
    background: #262645;
    padding: 0 10px;

    align-items: center;
    .date {
      font-family: "Mohave";
      font-style: normal;
      font-weight: 400;
      font-size: 67px;
      line-height: 93px;
      text-align: center;
      color: #cccccc;
    }
    .month {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 300;
      font-size: 22px;
      line-height: 27px;
      text-align: center;
      text-transform: uppercase;

      color: #ffffff;
    }
    a {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      line-height: 39px;

      text-decoration-line: underline;
      color: #ffffff;
    }
  }
}
.startCalendar {
  width: 100%;
  height: 250px;
  filter: blur(20px);
  transform: matrix(1, 0, 0, -1, 0, 0);
  margin-right: 50px;
  padding-right: 20px;
  .overlay {
    width: 100%;
    height: 300px;
    background: rgb(3, 1, 15);
    opacity: 0.8;
  }
}

.blurContainer {
  position: relative;
  top: 440px;
  margin-top: -50;
  width: 120%;
  left: -150px;
  height: 250px;
  overflow: hidden;
}

.startCalendarText {
  position: relative;
  top: 250px;
  margin-left: 168px;
  margin-right: 164px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h1 {
    margin-left: 50px;

    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 59px;
    line-height: 66px;

    color: #af960c;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    .post {
      background: #8b1313;
      margin-right: 14px;
      height: 54px;
      width: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 22.2662px;
        line-height: 45px;
        text-align: center;
        vertical-align: center;

        color: #ffffff;
      }
    }
    .allPost {
      width: 185px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: #e6c714 2px solid;
      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 21.0292px;
        line-height: 45px;

        color: #e6c714;
      }
    }
  }
}
